N8N_EMBED_TEST_WEBHOOK_URL="http://<n8n-ip-address>:5678/webhook-test/embeded_vector"
N8N_EMBED_WEBHOOK_URL="http://<n8n-ip-address>:5678/webhook/embeded_vector"
N8N_HINTS_TEST_WEBHOOK_URL="http://<n8n-ip-address>:5678/webhook-test/generate-hints"
N8N_HINTS_WEBHOOK_URL="http://<n8n-ip-address>:5678/webhook/generate-hints"
N8N_QUESTION_TEST_WEBHOOK_URL="http://<n8n-ip-address>:5678/webhook-test/ChabotQuest"
N8N_QUESTION_WEBHOOK_URL="http://<n8n-ip-address>:5678/webhook/ChabotQuest"
N8N_THEORY_TEST_WEBHOOK_URL="http://<n8n-ip-address>:5678/webhook-test/chatbot"
N8N_THEORY_WEBHOOK_URL="http://<n8n-ip-address>:5678/webhook/chatbot"
SUPABASE_SERVICE_ROLE_KEY="sb_secret_<service-role-secret>"
SUPABASE_URL="https://<supabase-project-id>.supabase.co"